.ui.one.column.grid
    .center.aligned.column
        .ui.horizontal.list
            .item
                .header #{character.currency.copper}
                .content CP
            .item
                .header #{character.currency.silver}
                .content SP
            .item
                .header #{character.currency.electrum}
                .content EP
            .item
                .header #{character.currency.gold}
                .content GP
            .item
                .header #{character.currency.platinum}
                .content PP