.ui.two.column.grid
    .column
        .ui.header Strength #{character.abilities.strength.modifier}
        .ui.middle.aligned.divided.list
            .item
                .right.floated.content
                    .ui.label #{character.abilities.athletics}
                .content Athletics

        .ui.header Dexterity #{character.abilities.dexterity.modifier}
        .ui.middle.aligned.divided.list
            .item
                .right.floated.content
                    .ui.label #{character.abilities.acrobatics}
                .content Acrobatics
            .item
                .right.floated.content
                    .ui.label #{character.abilities.sleightofhand}
                .content Sleight of Hand
            .item
                .right.floated.content
                    .ui.label #{character.abilities.stealth}
                .content Stealth

        .ui.header Intelligence #{character.abilities.intelligence.modifier}
        .ui.middle.aligned.divided.list
            .item
                .right.floated.content
                    .ui.label #{character.abilities.arcana}
                .content Arcana
            .item
                .right.floated.content
                    .ui.label #{character.abilities.history}
                .content History
            .item
                .right.floated.content
                    .ui.label #{character.abilities.investigation}
                .content Investigation
            .item
                .right.floated.content
                    .ui.label #{character.abilities.nature}
                .content Nature
            .item
                .right.floated.content
                    .ui.label #{character.abilities.religion}
                .content Religion

    .column
        .ui.header Wisdom #{character.abilities.wisdom.modifier}
        .ui.middle.aligned.divided.list
            .item
                .right.floated.content
                    .ui.label #{character.abilities.animalhandling}
                .content Animal Handling
            .item
                .right.floated.content
                    .ui.label #{character.abilities.insight}
                .content Insight
            .item
                .right.floated.content
                    .ui.label #{character.abilities.medicine}
                .content Medicine
            .item
                .right.floated.content
                    .ui.label #{character.abilities.perception}
                .content Perception
            .item
                .right.floated.content
                    .ui.label #{character.abilities.survival}
                .content Survival

        .ui.header Charisma #{character.abilities.charisma.modifier}
        .ui.middle.aligned.divided.list
            .item
                .right.floated.content
                    .ui.label #{character.abilities.deception}
                .content Deception
            .item
                .right.floated.content
                    .ui.label #{character.abilities.intimidation}
                .content Intimidation
            .item
                .right.floated.content
                    .ui.label #{character.abilities.performance}
                .content Performance
            .item
                .right.floated.content
                    .ui.label #{character.abilities.persuasion}
                .content Persuasion