#showSpell.ui.container
    .ui.raised.top.attached.segment
        .ui.red.ribbon.label
            = formatLevel(spell.level)
            | #{spell.school}
        span.ui.header #{spell.name}
        .ui.top.attached.segment
            .ui.two.column.grid
                .column
                    .ui.list
                        .item
                            i.clock.icon
                            .content Casting Time: #{spell.castingTime}
                        .item
                            i.wifi.icon
                            .content
                                | Range:
                                = formatRange(spell.range)
                        .item
                            i.history.icon
                            .content Duration: #{spell.duration}
                .column
                    .ui.list
                        each c in spell.classes
                            .item #{c}

            .ui.divider
            p #{spell.descriptions.main}
            if spell.descriptions.level
                .ui.sub.header At Higher Levels
                p #{spell.descriptions.level}
            .ui.divider
            .ui.small.horizontal.list
                each component in spell.components
                    .middle.aligned.item
                        img.ui.mini.image(src='/images/#{component}.png')
                        div #{component}
                if spell.material
                    .item
                        .content
                            .header Material
                            .description #{spell.material}
            .ui.divider
            .ui.bottom.attached.label #{spell.book.name} #{spell.book.page}

    if inSpellbook
        #removeButton.ui.bottom.attached.red.button Remove from #{character.name}'s spellbook
    else
        #addButton.ui.bottom.attached.blue.button
            if character
                | Add to #{character.name}'s spellbook
            else
                | Add to Spellbook