if isCharacter
    nav.ui.two.column.grid
        if allSpells
            .column
                button#mySpellsButton.ui.big.fluid.button My Spells
            .column
                button#allSpellsButton.ui.big.fluid.active.button All Spells
        else
            .column
                button#mySpellsButton.ui.big.fluid.active.button My Spells
            .column
                button#allSpellsButton.ui.big.fluid.button All Spells
nav.ui.three.column.grid
    //unless isCharacter
    .column
        //select#classDropdown.ui.fluid.dropdown(multiple="")
            option(value="all") All Classes
            each c in classes
                option(value=c.name) #{c.name}
        button#classDropdown.ui.fluid.dropdown.button
            .text All Classes
            i.dropdown.icon
            .menu
                .item(data-value='all') All Classes
                each c in classes
                    .item(data-value=c.name) #{c.name}

        //#verbalCheckbox.ui.toggle.checkbox
            input(type='checkbox' name='verbal')
            label Verbal
    .column
        button#levelDropdown.ui.fluid.dropdown.button
            .text All Levels
            i.dropdown.icon
            .menu
                .item(data-value='all') All Levels
                each level in levels
                    .item(data-value=level)= formatLevel(level)

        //#somaticCheckbox.ui.toggle.checkbox
            input(type='checkbox' name='somatic')
            label Somatic
    .column
        button#sortDropdown.ui.fluid.dropdown.button
            .text Sort: Name
            i.dropdown.icon
            .menu
                .item(data-value='name') Sort: Name
                .item(data-value='level') Sort: Level
                .item(data-value='range') Sort: Range

//+Paginator_UI spells

if spellsReady
    if spells
        #alphabetSidebar.ui.secondary.vertical.menu
            each letter in letters
                a.item(href='#'+letter) #{letter}
        //table.ui.table
            each spell in spells
                tr
                    td= formatLevel(spell.level)
                    td
                        h5.ui.header
                            .content
                                = spell.name
                                .sub.header #{spell.book.name}
                    td #{spell.castingTime}
                    td= formatRange(spell.range)
                    td #{spell.school}
        #spells.ui.divided.very.relaxed.selection.list
            each spell in spells
                //.ui.sub.header= group(spell)
                a.item(href='/spell/#{spell.slug}')
                    .left.floated.content
                        .ui.blue.circular.label= formatSmallLevel(spell.level)
                    .right.floated.content
                        .ui.label #{spell.castingTime}
                    .content
                        .header #{spell.name}
                        .description #{spell.book.name}
    else
        p You don't have any spells in your spellbook yet.

else
    .ui.segment(style='height: 300px; border: none;')
        .ui.active.inverted.dimmer
            .ui.large.text.loader Loading

//+Paginator_UI spells
