//nav.ui.two.column.grid
    .column
        button#allSpellsButton.ui.big.fluid.button All Spells
    .column
        button#mySpellsButton.ui.big.fluid.button My Spells
nav.ui.three.column.grid
    //unless isCharacter
    .column
        button#classDropdown.ui.fluid.dropdown.button
            .text All Classes
            i.dropdown.icon
            .menu
                .item(data-value='all') All Classes
                each c in classes
                    .item(data-value=c._id) #{c.name}

        //#verbalCheckbox.ui.toggle.checkbox
            input(type='checkbox' name='verbal')
            label Verbal
    .column
        button#levelDropdown.ui.fluid.dropdown.button
            .text All Levels
            i.dropdown.icon
            .menu
                .item(data-value='all') All Levels
                each level in levels
                    .item(data-value=level)= formatLevel(level)

        //#somaticCheckbox.ui.toggle.checkbox
            input(type='checkbox' name='somatic')
            label Somatic
    .column
        button#sortDropdown.ui.fluid.dropdown.button
            .text Sort: Name
            i.dropdown.icon
            .menu
                .item(data-value='name') Sort: Name
                .item(data-value='level') Sort: Level
                .item(data-value='range') Sort: Range

//+Paginator_UI spells

if spells
    #alphabetSidebar.ui.secondary.vertical.menu
        each letter in letters
            a.item(href='#'+letter) #{letter}
    #spells.ui.divided.very.relaxed.selection.list
        each spell in spells
            //.ui.sub.header= group(spell)
            a.item(href='/spell/#{spell.slug}')
                .left.floated.content
                    .ui.blue.label= formatSmallLevel(spell.level)
                .right.floated.content
                    .ui.label #{spell.castingTime}
                .content
                    .header #{spell.name}
                    .description #{spell.book.name}
else
    p You don't have any spells in your spellbook yet.

//+Paginator_UI spells
