nav.ui.two.column.grid
    .column
        button#allSpellsButton.ui.big.fluid.button All Spells
    .column
        button#mySpellsButton.ui.big.fluid.button My Spells
nav.ui.three.column.grid
    .column
        button#classDropdown.ui.fluid.dropdown.button
            .text All Classes
            i.dropdown.icon
            .menu
                .item(data-value='all') All Classes
                each c in classes
                    .item(data-value=c._id) #{c.name}
    .column
        button#levelDropdown.ui.fluid.dropdown.button
            .text All Levels
            i.dropdown.icon
            .menu
                .item(data-value='all') All Levels
                each level in levels
                    .item(data-value=level)= formatLevel(level)
    .column
        button#sortDropdown.ui.fluid.dropdown.button
            .text Sort: Name
            i.dropdown.icon
            .menu
                .item(data-value='name') Sort: Name
                .item(data-value='level') Sort: Level

.ui.column.grid
    .row
        .column
            #spells.ui.divided.list
                each spell in spells
                    a.item(href='/spell/#{spell.slug}')
                        .left.floated.content
                            .ui.blue.label= formatSmallLevel(spell.level)
                        .content
                            .header #{spell.name}
                            .description #{spell.book.name}
